
@import url(../css/zero.css);

.general{
display: flex;
justify-content:space-between;
align-items: center;
}
.data {
   font-size: 36px;
   color: rgb(116, 17, 17);
}

.data-types {
   font-size: 24px;
   color: rgb(251, 7, 7);
   text-transform: uppercase;
}